@mixin light-colors {
    --sidebar-bg: #e4f2ff;
    --sidebar-btn-bg: #ecf6ff;
    --sidebar-btn-color: #3f4553;
    --sidebar-muted-color: #3f4553;
    --sidebar-active-color: #17181b;
    --sidebar-hover-bg: rgb(146 205 247 / 64%);
    --site-title-color: rgb(64 66 82);
    --site-subtitle-color: #5a606f;
    --main-bg: #f4f9ff;
    --card-bg: #eff5fc;
    --card-hovor-bg: #a1adbf;
    --topbar-bg: rgb(242, 248, 255, 0.5);
}