@mixin dark-colors {
    --sidebar-muted-color: #dddddd;
    --site-title-color: #f0f0f0;
    --site-subtitle-color: #b2b2b2;
    --sidebar-bg: #161b25;
    --main-bg: rgb(25 26 38);
    --sidebar-btn-bg: #4c4c58;
    --sidebar-btn-color: #aaaaaa;
    --card-bg: #222730;
}